<!DOCTYPE html>
<html lang="{{ .Lang }}" itemscope itemtype="http://schema.org/WebPage">
  <head>
    {{ block "description" . }}
      <meta name="description" content="{{ .Description }}">
    {{ end }}
    {{ partial "head.html" . }}
    
    {{ if or (eq .Section "tags") }}
    {{ else }}
    <script data-ad-client="ca-pub-9289818838819497" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    {{ end }}
  </head>
  <body>
    {{ partial "nav.html" . }}
    {{ block "header" . }}{{ partial "header.html" . }}{{ end }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer.html" . }}
    {{ block "footer" . }}{{ end }}
  </body>
</html>

